{% extends 'base.html' %}

{% block title %}
<title>EShopper - Product list</title>
{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
  <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
    <h1 class="font-weight-semi-bold text-uppercase mb-3">Shop Detail</h1>
    <div class="d-inline-flex">
      <p class="m-0"><a href="{{ url_for('home') }}">Home</a></p>
      <p class="m-0 px-2">-</p>
      <p class="m-0">Shop Detail</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Shop Detail Start -->
<div class="container-fluid py-5">
  <div class="row px-xl-5">
    <div class="col-lg-5 pb-5">
      <div id="product-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner border">
          <div class="carousel-item active">
            <img class="w-100 h-100" src="{{ url_for('static', filename = 'media/' + product.cover_image) }}" alt="Image" />
          </div>
        </div>
        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
          <i class="fa fa-2x fa-angle-left text-dark"></i>
        </a>
        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
          <i class="fa fa-2x fa-angle-right text-dark"></i>
        </a>
      </div>
    </div>

    <div class="col-lg-7 pb-5">
      <h3  style="font-size: 40px;" class="font-weight-semi-bold">{{ product.name }}</h3>

      <div style="display: flex;
      align-items: center;">
      {% if discount and discount.percent > 0  %}
        <h3 class="font-weight-semi-bold mb-4">{{ product.price - (product.price * (discount.percent/100)) }}</h3>
        <h3 style="margin-top: center !important; text-decoration: line-through; padding-left: 10px; font-weight: 300;" class="font-weight-semi-bold mb-4 text-muted ml-2">{{ product.price }}</h3>
        
        <button disabled style="margin-bottom: auto; margin-left: 20px !important;" class="button-68">-{{ discount.percent }}%</button>
      {% else %}
        <h3 class="font-weight-semi-bold mb-4">{{ product.price }}</h3>
      {% endif %}
      </div>

      <p class="mb-4">
        {{ product.description }}
      </p>

      {% if not is_favorite %}
      <div class="d-flex align-items-center mb-4 pt-2">
        <a href="{{ url_for('addfavorite', productid = product.id) }}">
          <button class="btn btn-primary px-3">
            <i class="fa fa-heart mr-1" aria-hidden="true"></i>
              Add To Favorites
          </button>
        </a>
      </div>
      {% else %}
      <div class="d-flex align-items-center mb-4 pt-2">
        <a href="{{ url_for('removefavorite', productid = product.id) }}">
          <button class="btn btn-primary px-3">
            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#000000}</style><path d="M119.4 44.1c23.3-3.9 46.8-1.9 68.6 5.3l49.8 77.5-75.4 75.4c-1.5 1.5-2.4 3.6-2.3 5.8s1 4.2 2.6 5.7l112 104c2.9 2.7 7.4 2.9 10.5 .3s3.8-7 1.7-10.4l-60.4-98.1 90.7-75.6c2.6-2.1 3.5-5.7 2.4-8.8L296.8 61.8c28.5-16.7 62.4-23.2 95.7-17.6C461.5 55.6 512 115.2 512 185.1v5.8c0 41.5-17.2 81.2-47.6 109.5L283.7 469.1c-7.5 7-17.4 10.9-27.7 10.9s-20.2-3.9-27.7-10.9L47.6 300.4C17.2 272.1 0 232.4 0 190.9v-5.8c0-69.9 50.5-129.5 119.4-141z"/></svg>
              Remove From Favorites
          </button>
        </a>
      </div>
      {% endif %}

      <div class="d-flex pt-2">
        <p class="text-dark font-weight-medium mb-0 mr-2">Share on:</p>
        <div class="d-inline-flex">
          <a class="text-dark px-2" href="">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="text-dark px-2" href="">
            <i class="fab fa-twitter"></i>
          </a>
          <a class="text-dark px-2" href="">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a class="text-dark px-2" href="">
            <i class="fab fa-pinterest"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="row px-xl-5">
    <div class="col">
      <div class="nav nav-tabs justify-content-center border-secondary mb-4">
        <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Description</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-3">Reviews {{ reviews | length }}</a>
      </div>
      <div class="tab-content">
        <div class="tab-pane fade show active" id="tab-pane-1">
          <h4 class="mb-3">Product Description</h4>
          <p>
            {{ product.description }}
          </p>
        </div>
        <div class="tab-pane fade" id="tab-pane-3">
          <div class="row">
            <div class="col-md-6">
              <h4 class="mb-4">2 review for "Colorful Stylish Shirt"</h4>

              {% for review in reviews %}
              <div class="media mb-4">
                <img src="{{ url_for('static', filename = 'img/default-user.webp') }}" alt="Image"
                  class="img-fluid mr-3 mt-1" style="width: 45px" />
                <div class="media-body">
                  <h6>
                    {{ review.user.full_name }}<small> - <i>{{ review.created_at }}</i></small>
                  </h6>
                  <p>
                    {{ review.content }}
                  </p>
                </div>
              </div>
              {% endfor %}

            </div>
            <div class="col-md-6">
              <h4 class="mb-4">Leave a review</h4>
              <small>Your email address will not be published. Required fields
                are marked *</small>
              <form method = 'post'>
                {{ reviewForm.csrf_token }}
                <div class="form-group">
                  <label for="message">Your Review *</label>
                  {{ reviewForm.content(id="message", cols="30", rows="5", class="form-control") }}
                </div>
                <div class="form-group mb-0">
                  <input type="submit" name = "review" value="Leave Your Review" class="btn btn-primary px-3" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Shop Detail End -->

<!-- Products Start -->
<div class="container-fluid py-5">

    {% if recommended_products|length >= 1 %}
    <div class="text-center mb-4">
      <h2 class="section-title px-5">
        <span class="px-2">You May Also Like</span>
      </h2>
    </div>
    <div class="row px-xl-5 justify-content-center" style="gap: 30px">
  
    {% for rec_product in recommended_products %}
    <div class="card product-item border-0">
      <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0">
        <img  style="width: 250px !important;" class="img-fluid w-100" src="{{ url_for('static', filename = 'media/' + rec_product.cover_image) }}" alt="" />
      </div>
      <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
        <h6 class="text-truncate mb-3">{{ rec_product.name }}</h6>
        <div class="d-flex justify-content-center">
          <h6>{{ rec_product.price }}</h6>
          <h6 class="text-muted ml-2"><del>{{ rec_product.price }}</del></h6>
        </div>
      </div>
      <div class="card-footer d-flex justify-content-between bg-light border">
        <a href="{{ url_for('detail', id = rec_product.id) }}" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="text-center mb-4">
      <h2 class="section-title px-5">
        <span class="px-2">There is no recommended product for this one</span>
      </h2>
    </div>
    <div class="row px-xl-5 justify-content-center" style="gap: 30px">
  
    {% endif %}
</div>
<!-- Products End -->

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}