{% extends 'base.html' %}

{% block title %}
<title>EShopper - Login</title>
{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Favorite products</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="{{ url_for('home') }}">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Favorite Products</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<!-- Cart Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 justify-content-center">
        <div class="col-lg-5 table-responsive mb-5">
            <table class="table table-bordered text-center mb-0">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    {% for favorite in all_favorites %}
                    <tr>
                        <td class="align-middle"> 
                            <a href="{{ url_for('detail', id = favorite.product.id ) }}">
                                <img src="{{ url_for('static', filename = 'media/' + favorite.product.cover_image) }}" alt="" style="width: 50px;"> 
                            </a>
                            <a href="{{ url_for('detail', id = favorite.product.id ) }}">
                                {{ favorite.product.name }}
                            </a>
                        </td>



                        <td class="align-middle">{% if favorite.product.id in discount_mapping %}
                            {% set discount = discount_mapping[favorite.product.id] %}
            
                              <h6>{{ favorite.product.price - (favorite.product.price * discount.percent / 100) }}</h6>
                              <h6 class="text-muted ml-2"><del>{{ favorite.product.price }}</del></h6>
                            {% else %}
                            <h6>{{ favorite.product.price }}</h6>
                            {% endif %}</td>


                        <td class="align-middle">
                            <a href="{{ url_for('removefavorite', productid = favorite.product_id) }}">
                                <button class="btn btn-sm btn-primary"><i class="fa fa-times"></i></button>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Cart End -->

{% endblock %}

{% block footer %}
{% include 'footer.html' %}
{% endblock %}