{% extends 'base.html' %}

{% block title %}
<title>EShopper - Login</title>
{% endblock %}

{% block content %}
<!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Login</h1>
    </div>
</div>
<!-- Page Header End -->

<!-- Contact Start -->
<div class="container-fluid pt-5">
    <div class="text-center mb-4">
        <h2 class="section-title px-5"><span class="px-2">Input Credentials For Login</span></h2>
    </div>
    <div class="row justify-content-center px-xl-5">
        <div class="col-lg-4 mb-5">
            <div class="contact-form">
                <div id="success"></div>
                <form name="sentMessage" id="contactForm" novalidate="novalidate" method="post">
                    {{ loginForm.csrf_token }}
                    <div class="control-group">
                        {{ loginForm.email(class="form-control", id="email", placeholder="Email") }}
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        {{ loginForm.password(class="form-control", id="password", placeholder="Password") }}
                        <p class="help-block text-danger"></p>
                    </div>
                    {% if response['has_response'] == 1 and response['form'] == 'login' %}
                    <div class="alert alert-danger" role="alert">
                        {% for response in response['response_content'] %}
                        <span class="error-message">{{ response }}</span>
                        <br>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary py-2 px-4" type="submit" name="login" id="sendMessageButton">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
{% endblock %}
